---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Home Page";
---

<BaseLayout pageTitle={pageTitle}>
  <section class="section">
    <div class="card">
      <div class="card-content">
        <p class="title">Welcome to my webpage</p>
        <p class="subtitle">Roger Rajaratnam</p>
      </div>
    </div>
  </section>
</BaseLayout>
