---
import { FaGithub, FaLinkedin } from "react-icons/fa6";
---

<footer class="footer mt-auto">
  <div class="container">
    <div class="columns">
      <div class="column copyright">
        <p>&copy; 2026 Sourcier Ltd, All rights reserved.</p>
      </div>
      <div class="column is-one-quarter buttons">
        <a
          href="https://github.com/sourcier"
          target="_blank"
          class="button mr-1"
        >
          <span class="icon">
            <FaGithub />
          </span>
        </a>
        <a
          href="https://www.linkedin.com/in/roger-rajaratnam"
          target="_blank"
          class="button"
        >
          <span class="icon">
            <FaLinkedin />
          </span>
        </a>
      </div>
    </div>
  </div>
</footer>

<style lang="scss">
  @use "bulma/sass/utilities/mixins";

  .footer {
    text-align: center;
    @include mixins.tablet {
      .copyright {
        text-align: left;
      }
      .buttons {
        text-align: right;
      }
    }
  }
</style>
