---
import { FaGithub, FaLinkedin } from "react-icons/fa6";
---

<footer class="footer">
  <div class="columns">
    <div class="column">
      <p>&copy; 2026 Sourcier Ltd, All rights reserved.</p>
    </div>
    <div class="column is-one-quarter has-text-right">
      <a href="https://github.com/sourcier" target="_blank" class="button mr-2">
        <span class="icon">
          <FaGithub />
        </span>
        <span>GitHub</span>
      </a>
      <a
        href="https://www.linkedin.com/in/roger-rajaratnam"
        target="_blank"
        class="button"
      >
        <span class="icon">
          <FaLinkedin />
        </span>
        <span>LinkedIn</span>
      </a>
    </div>
  </div>
</footer>
