---
import avatarImage from "../../assets/images/avatar.jpeg";
import { FaGithub, FaLinkedin, FaMoon, FaSun } from "react-icons/fa6";
---

<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <figure class="image">
          <img
            src={avatarImage.src}
            alt="Roger Rajaratnam avatar"
            class="is-rounded"
          />
        </figure>
        <span class="navbar-brand-name">Sourcier</span>
      </a>

      <a
        role="button"
        class="navbar-burger"
        aria-label="menu"
        aria-expanded="false"
        data-target="mobileMenu"
      >
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="mobileMenu" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="/about">About</a>
        <a class="navbar-item" href="/blog">Blog</a>
        <a class="navbar-item" href="/contact">Contact</a>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a
              href="https://github.com/sourcier"
              target="_blank"
              class="button"
            >
              <span class="icon">
                <FaGithub />
              </span>
            </a>
            <a
              href="https://www.linkedin.com/in/roger-rajaratnam"
              target="_blank"
              class="button"
            >
              <span class="icon">
                <FaLinkedin />
              </span>
            </a>
            <button
              class="button"
              data-theme-toggle
              aria-label="Change to dark theme"
            >
              <span class="icon is-small">
                <FaMoon className="moonIcon" />
                <FaSun className="sunIcon" />
              </span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

<script>
  const button = document.querySelector("[data-theme-toggle]");
  const htmlElement = document.documentElement;

  if (!button) {
    return;
  }

  const handleThemeToggle = () => {
    const isDark = htmlElement.getAttribute("data-theme") === "dark";
    const newTheme = isDark ? "light" : "dark";
    const newCta =
      newTheme === "dark" ? "Change to light theme" : "Change to dark theme";

    button.setAttribute("aria-label", newCta);
    htmlElement.setAttribute("data-theme", newTheme);
    localStorage.setItem("theme", newTheme);
  };

  const theme = (() => {
    const localStorageTheme = localStorage?.getItem("theme") ?? "";
    if (["dark", "light"].includes(localStorageTheme)) {
      return localStorageTheme;
    }

    return "light";
  })();

  if (theme === "light") {
    htmlElement.setAttribute("data-theme", "light");
    button.setAttribute("aria-label", "Change to dark theme");
  } else {
    htmlElement.setAttribute("data-theme", "dark");
    button.setAttribute("aria-label", "Change to light theme");
  }

  button?.addEventListener("click", handleThemeToggle);
</script>

<style lang="scss">
  html[data-theme="light"] {
    .moonIcon {
      display: block;
    }
    .sunIcon {
      display: none;
    }
  }

  html[data-theme="dark"] {
    .moonIcon {
      display: none;
    }
    .sunIcon {
      display: block;
    }
  }
</style>
