---
import avatarImage from "../../assets/images/avatar.jpeg";
---

<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <figure class="image">
          <img
            src={avatarImage.src}
            alt="Roger Rajaratnam avatar"
            class="is-rounded"
          />
        </figure>
        <span class="navbar-brand-name">Sourcier</span>
      </a>

      <button
        class="navbar-burger"
        aria-label="menu"
        aria-expanded="false"
        aria-controls="mobileMenu"
        data-target="mobileMenu"
      >
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </button>
    </div>

    <div id="mobileMenu" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="/about">About</a>
        <a class="navbar-item" href="/blog">Blog</a>
        <a class="navbar-item" href="/contact">Contact</a>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a
              href="https://github.com/sourcier"
              target="_blank"
              rel="noopener noreferrer"
              class="social-icon"
              aria-label="GitHub"
            >
              <!-- GitHub -->
              <svg
                aria-hidden="true"
                width="20"
                height="20"
                viewBox="0 0 24 24"
                fill="currentColor"
                ><path
                  d="M12 2C6.477 2 2 6.477 2 12c0 4.418 2.865 8.166 6.839 9.489.5.092.682-.217.682-.482 0-.237-.009-.868-.013-1.703-2.782.604-3.369-1.342-3.369-1.342-.454-1.154-1.11-1.461-1.11-1.461-.908-.62.069-.608.069-.608 1.003.07 1.531 1.03 1.531 1.03.892 1.529 2.341 1.087 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.11-4.555-4.943 0-1.091.39-1.984 1.03-2.682-.103-.253-.447-1.27.098-2.646 0 0 .84-.269 2.75 1.025A9.564 9.564 0 0 1 12 6.844a9.59 9.59 0 0 1 2.504.337c1.909-1.294 2.747-1.025 2.747-1.025.547 1.376.203 2.394.1 2.646.641.698 1.028 1.591 1.028 2.682 0 3.841-2.337 4.687-4.565 4.935.359.309.678.919.678 1.852 0 1.336-.012 2.415-.012 2.741 0 .267.18.578.688.48C19.138 20.163 22 16.417 22 12c0-5.523-4.477-10-10-10z"
                ></path></svg
              >
            </a>
            <a
              href="https://www.linkedin.com/in/roger-rajaratnam"
              target="_blank"
              rel="noopener noreferrer"
              class="social-icon"
              aria-label="LinkedIn"
            >
              <!-- LinkedIn -->
              <svg
                aria-hidden="true"
                width="20"
                height="20"
                viewBox="0 0 24 24"
                fill="currentColor"
                ><path
                  d="M19 3a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h14zm-1 16v-5.5c0-1.378-.498-2.333-1.742-2.333-.951 0-1.516.639-1.766 1.257-.091.221-.114.529-.114.839V19H12V10h2.352v1.177h.032c.327-.619 1.124-1.511 2.614-1.511 1.913 0 3.002 1.257 3.002 3.55V19H18zm-9.5-9.727a1.386 1.386 0 1 1 0-2.773 1.386 1.386 0 0 1 0 2.773zM7.25 19H9.5V10H7.25v9z"
                ></path></svg
              >
            </a>
            <button
              class="social-icon"
              data-theme-toggle
              aria-label="Change to dark theme"
            >
              <!-- Moon -->
              <svg
                class="moonIcon"
                aria-hidden="true"
                width="18"
                height="18"
                viewBox="0 0 24 24"
                fill="currentColor"
                ><path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"
                ></path></svg
              >
              <!-- Sun -->
              <svg
                class="sunIcon"
                aria-hidden="true"
                width="18"
                height="18"
                viewBox="0 0 24 24"
                fill="currentColor"
                ><path
                  d="M12 18a6 6 0 1 1 0-12 6 6 0 0 1 0 12zm0-2a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM11 1h2v3h-2V1zm0 19h2v3h-2v-3zM3.515 4.929l1.414-1.414L7.05 5.636 5.636 7.05 3.515 4.93zM16.95 18.364l1.414-1.414 2.121 2.121-1.414 1.414-2.121-2.121zm2.121-14.85 1.414 1.415-2.121 2.121-1.414-1.414 2.121-2.121zM5.636 16.95l1.414 1.414-2.121 2.121-1.414-1.414 2.121-2.121zM23 11v2h-3v-2h3zM4 11v2H1v-2h3z"
                ></path></svg
              >
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

<script>
  const button = document.querySelector("[data-theme-toggle]");
  const htmlElement = document.documentElement;

  const handleThemeToggle = () => {
    const isDark = htmlElement.getAttribute("data-theme") === "dark";
    const newTheme = isDark ? "light" : "dark";
    const newCta =
      newTheme === "dark" ? "Change to light theme" : "Change to dark theme";

    button?.setAttribute("aria-label", newCta);
    htmlElement.setAttribute("data-theme", newTheme);
    localStorage.setItem("theme", newTheme);
  };

  const theme = (() => {
    const localStorageTheme = localStorage?.getItem("theme") ?? "";
    if (["dark", "light"].includes(localStorageTheme)) {
      return localStorageTheme;
    }

    return "light";
  })();

  if (theme === "light") {
    htmlElement.setAttribute("data-theme", "light");
    button?.setAttribute("aria-label", "Change to dark theme");
  } else {
    htmlElement.setAttribute("data-theme", "dark");
    button?.setAttribute("aria-label", "Change to light theme");
  }

  button?.addEventListener("click", handleThemeToggle);
</script>

<style lang="scss">
  html[data-theme="light"] {
    .moonIcon {
      display: block;
    }
    .sunIcon {
      display: none;
    }
  }

  html[data-theme="dark"] {
    .moonIcon {
      display: none;
    }
    .sunIcon {
      display: block;
    }
  }
</style>
